# Python cache
__pycache__/
*.pyc
.pytest_cache/

# Test artifacts
tests/
.coverage
htmlcov/
.tox/

# Build artifacts
build/
dist/
*.egg-info/
*.whl
*.tar.gz
release_artifacts.zip

# Reports
.coverage

# Compiled extensions
*.mexw64

# Generated results
results/
