# Git LFS attributes for large problem datasets
problems/** filter=lfs diff=lfs merge=lfs -text
*.mexw64 filter=lfs diff=lfs merge=lfs -text
*.mat filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text

problems/** !text !filter !merge !diff
*.mexw64 !text !filter !merge !diff
*.mat !text !filter !merge !diff
*.zip !text !filter !merge !diff
